.home {
  display: flex;
  padding: 20px;
}

.home__left {
  flex: 1;
}

.home__intro {
  margin-top: 150px;
  font-weight: 500;
}

.home__intro,
.home__title,
.home__jobIntro,
.home__icons,
.home__button {
  padding: 20px;
}

.home__jobIntro {
  font-weight: 500;
  text-transform: capitalize;
}

.home__icons {
  display: flex;
  align-items: center;
}

.home__icons > a {
  text-decoration: none;
  color: var(--black-color);
  border-radius: 30px;
  padding: 8px;
}

.home__icons > a:hover {
  background: linear-gradient(45deg, var(--red-color), var(--blue-color));
  color: var(--white-color);
  transition: all 1s;
}

.home__button {
  cursor: pointer;
  margin: 20px;
  font-weight: 600;
  position: relative;
  border: none;
  border-radius: 30px;
  background: transparent;
  transition: all 1s;
  overflow: hidden;
}

.home__button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, var(--red-color), var(--blue-color));
  z-index: -1;
  transition: all 1s;
  transform: translateX(-100%);
}

.home__button:hover::before {
  transform: translateX(0);
}

.home__button:hover > a {
  color: var(--white-color);
}

.home__button > a {
  color: var(--black-color);
  text-transform: uppercase;
  text-decoration: none;
}

.home__image {
  height: 800px;
  object-fit: contain;
}

@media only screen and (max-width: 1000px) {
  .home__intro {
    margin-top: 0;
  }

  .home__image {
    display: none;
  }

  .home__button {
    display: flex;
    justify-content: center;
  }
}
